body {
    background : rgb(84, 84, 255);
    font: normal 14pt Arial, sans-serif;

}

header {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
}

#msg {
    display: flex; 
    flex-direction: column; /* Coloca os itens em coluna (um abaixo do outro) */
    align-items: center; /* Centraliza horizontalmente o conteúdo da coluna */
    padding: 10px;
}

#msg > div {
    /* Dá um respiro entre o grupo Início, Fim e Passo */
    margin: 5px 0; 
}

button { 
    width: 100%; 
    padding: 10px; 
}

.res { 
    background: #f0f0f0; 
    padding: 15px; 
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
